{% extends 'main/base.html' %}
{% load static %}

{% block title %} About Us {% endblock %}

{% block styling %}
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/aboutus.css' %}">
{% endblock %}

{% block content %}

	<div id="aboutusheading">
		<h1 class="m-auto">About Us</h1>
		<hr class="m-auto">
	</div>

	<div class='container aboutus-div d-flex align-items-center'>
		<div class="row">
			<div class='col-7 col-md-4 col-lg-3 mx-auto my-5 img-div'>
				<img class='aboutus-img border' src="{% static 'main/images/gameon.jfif' %}" alt='error'/>
			</div>
			<div class='col-7 col-md-8 col-lg-7 mx-auto about-us w-50'>
				<p>Looking to participate in tournaments? You have come to the right place! Welcome to the arena! We provide you the facility to participate in tournaments of top games right away. Search for the game you like. Search for the tournaments or visit the official site of the games. Battle to the top and win exciting prizes !</p>
				</button>
			</div>
		</div>
	</div>
	
{% endblock %}